
@{
    ViewBag.Title = "OfficeAndService";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="aboutTab-head">
    <h2>Office And Service</h2>
</div>


<div class="row">
    <div class="col-lg-12 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
            <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                    <h4>Office Of Academic Affairs</h4>
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4>Admissions</h4>
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4>Alumni Office</h4>
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4>Student Service</h4>
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4>International Student Service</h4>
                </a>

                <a href="#" class="list-group-item text-center">
                    <h4>Center For Teaching &amp; Learning</h4>
                </a>

                <a href="#" class="list-group-item text-center">
                    <h4>Research Adminstration</h4>
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4>Special Events</h4>
                </a>

               
                <a href="#" class="list-group-item text-center">
                    <h4>Record &amp; Registration Office</h4>
                </a>
                <a href="#" class="list-group-item text-center">
                    <h4>Disability Support Office</h4>
                </a>
               
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">

            <!-- flight section -->
            <div class="bradcump">

            </div>

            <div class="bhoechie-tab-content active">
                <div class="col-md-12">
                    <h2>Office Of Academic Affairs</h2>

                </div>
                <div class="col-md-8">
                    <div class="sub-office-academicAffairs">
                        <h4>
                            The Office of Academic Affairs shapes the
                            strategic vision for the School’s academic programs.
                        </h4>
                    </div>
                    <div class="affair_body">
                        <p>
                            Working closely with faculty across the Bloomberg School of Public Health,
                            the Office oversees the School’s full range of learning experiences,
                            ensuring quality and innovation as degree-seeking students progress from
                            admission to graduation and public health professionals from around the world
                            come together to participate in certificate and training programs. Central to
                            these endeavors is the Office of Student Affairs, which supports students
                            through a strong network of resources that touch upon every aspect of
                            matriculation, from admissions to career services.

                            The far-reaching scholarly activities of our faculty and the School’s strong
                            ties to the practice community in Baltimore, the nation and throughout the world
                            ensure a rich and dynamic learning environment.
                        </p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="related_link_affairs">
                        <h4>Helpful Links</h4>
                        <div class="helpful-link">
                            <ul>
                                <li>@Html.ActionLink("Surgery", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("Student Life", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("School Of Medicine", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("School Dean?", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("Surgery", "surgeryHome", "Surgery")</li>
                            </ul>
                        </div>
                    </div>

                    <div class="side-holder">
                        <div class="sub-side">
                            <div class="sub-side-img">
                                <img src="~/images/img/slide2.jpg" alt="image" />
                            </div>
                            <div class="sub-side-detail">
                                <div class="sub-side-header">
                                    <h3>Dean's Letter</h3>
                                </div>
                                <div class="sub-side-article">
                                    <p>
                                        According to Latin professor Richard McClintock — the man credited
                                        with discovering Lorem Ipsum's roots — it is likely
                                        that sometime during the middle ages a typesetter scrambled part of
                                    </p>
                                </div>
                                <div class="readmore">
                                    <a href="#">READ MORE</a>
                                </div>
                                <hr />
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- train section -->
            <div class="bhoechie-tab-content">
                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail">
                            <h4>Under Graduate Program</h4>
                            <img src="http://www.uofmhealth.org/sites/default/files/styles/flexslider_full/public/gallery%20photos/Student_Ethiopia.jpg?itok=mLh3t0UL" />

                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        @Html.ActionLink("How to Apply", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("International Student", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("National Student", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Visit Us!", "surgeryHome", "Surgery")
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cont_applicants ">
                        <div class="full-detail" id="middle-colr">
                            <h4>Post Graduate Program</h4>
                            <img src="https://leadstarministries.files.wordpress.com/2015/08/leadstar.jpg" />

                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        @Html.ActionLink("How to Apply", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("International Student", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("National Student", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Visit Us!", "surgeryHome", "Surgery")
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail" id="last-colr">
                            <h4>Pre-School Information</h4>
                            <img src="http://hizmetnews.com/sds/wp-content/uploads/2017/03/Nejashi-Ethio-Turkish-International-Schools-2.png" />


                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        @Html.ActionLink("How to Join?", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Requirement for School", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Motivation", "surgeryHome", "Surgery")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Our Success!", "surgeryHome", "Surgery")
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="mid-levl">
                        <img src="~/images/img/slide3_blurred.jpg" />
                    </div>
                    <h4>Visit Tikur Ambessa School Of Medicine</h4>
                    <p style="margin:10px auto">
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Hopkins Bloomberg School of Public Health.
                    </p>

                </div>
                <div class="col-md-4">
                    <div class="side-contact">
                        <h4>Contact Detail</h4>

                        <div class="det-cont-side">
                            <ul>
                                <li class="header">
                                    Office Address
                                    <hr style="border-bottom:1px solid #808080;" />
                                </li>
                                <li>
                                    <p>pedi Bld. 3rd floor 456 office</p>
                                </li>
                                <li>
                                    <p>pedi Bld. 3rd floor 456 office</p>
                                </li>

                                <li class="header">
                                    Phone Address
                                    <hr style="border-bottom:1px solid #6f6e6e;" />
                                </li>
                                <li>
                                    <p class="glyphicon glyphicon-phone">(+251) 12 34 12 312</p>
                                </li>
                                <li>
                                    <p class="glyphicon glyphicon-phone-alt">(+251) 12 34 12 312</p>
                                </li>
                                <li>
                                    <p class="glyphicon glyphicon-phone-alt">(+251) 12 34 12 312</p>
                                </li>
                                <li class="header">
                                    Fax Address
                                    <hr style="border-bottom:1px solid #6f6e6e;" />
                                </li>
                                <li>
                                    <p class="glyphicon glyphicon-tree-conifer">(+251) 12 34 12 312</p>
                                </li>

                            </ul>


                        </div>
                    </div>
                </div>
            </div>

            <!-- hotel search -->
            <div class="bhoechie-tab-content">
                <div class="row">
                    <h2>Alumni Office</h2>
                    <h4>This is the Title About the work and Responsibilty of Alumni</h4>
                    <p>
                        We encourage We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Hopkins Bloomberg School of Public Health.
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>

                    <div class="incharg-pers">
                        <h3>Alumni Office Head</h3>

                        <p><strong>Our Office Address:</strong>Pedi Blg. 2nd Floor , 22-office number</p>
                    </div>
                </div>
            </div>
            <div class="bhoechie-tab-content">
                <div class="std_service_vody">
                    <h2>Student Service Office</h2>

                    <div class="vody">
                        <h3>Boarding Service</h3>
                        <p>
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                        </p>
                    </div>
                    <div class="vody">
                        <h3>Boarding Service</h3>
                        <p>
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                        </p>
                    </div>
                    <div class="vody">
                        <h3>Boarding Service</h3>
                        <p>
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                        </p>
                    </div>
                </div>
            </div>
            <div class="bhoechie-tab-content">
                <h2>Internation Student and Related Office</h2>
                <div class="intr-std">
                    <h3>Introduction </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>Expectation From International Student </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>

                    <h3>Student Service </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>What About Country's Currency,How to Get Shelter service?? </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>What About Student Community and Reseach on Community </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>Participation in Free Service on local Community </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>More Information</h3>
                    <p>
                        <strong>Contact For More Information </strong><br />
                        <em>On Pedi Bld, 2nd floor, 232-Office</em><br />
                        <em style="padding-left:10px;">
                            <span class="glyphicon glyphicon-phone">(+251) 235 234 234</span>
                        </em><br />
                        <em style="padding-left:10px;">
                            <span class="glyphicon glyphicon-envelope">director@gmail.com</span>
                        </em>
                    </p>

                </div>
            </div>

            <div class="bhoechie-tab-content">
                <h2>Center of Learning and Teaching Service</h2>
                <div class="col-md-4">
                   
                    <div class="hell-md-str">
                        <h3>What About Learning Service??</h3>
                        <p style="text-align:justify;">
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho

                        </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="hell-md-bdy">
                        <h3>What About Teaching Service??</h3>
                        <p style="text-align:justify;">
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho
                            and explore the dynamic
                            community of the Johns Ho
                            We encourage you to visit with us, communicate with faculty and students,
                            and explore the dynamic
                            community of the Johns Ho

                        </p>
                    </div>
                </div>
            </div>
            <div class="bhoechie-tab-content">
                <h2>Research And Related Things </h2>
                <div class="intr-std">
                    <h3>Introduction About Reseach </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>Where To Start?? </h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>

                    <h3>Consultant For My Research</h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>How to Publish My Reseach??</h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    <h3>Additional Tip For Novice Reseacher</h3>
                    <p>
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                        We encourage you to visit with us, communicate with faculty and students,
                        and explore the dynamic
                        community of the Johns Ho
                    </p>
                    
                    <h3>More Information</h3>
                    <p>
                        <strong>Contact For More Information </strong><br />
                        <em>On Pedi Bld, 2nd floor, 232-Office</em><br />
                        <em style="padding-left:10px;">
                            <span class="glyphicon glyphicon-phone">(+251) 235 234 234</span>
                        </em><br />
                        <em style="padding-left:10px;">
                            <span class="glyphicon glyphicon-envelope">director@gmail.com</span>
                        </em>
                    </p>

                </div>
            </div>
            <div class="bhoechie-tab-content">
                <div class="event-page-title">
                    <h2>Special Event</h2>
                </div>
               
                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail" style="background-color:#07514c;">
                            <h4>Community Outreach</h4>
                            <img src="http://hizmetnews.com/sds/wp-content/uploads/2017/03/Nejashi-Ethio-Turkish-International-Schools-2.png" />


                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        <a href="# ">Lets Celebrate ...</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail" style="background-color:#ff6a00;">
                            <h4>Community Outreach</h4>
                            <img src="http://hizmetnews.com/sds/wp-content/uploads/2017/03/Nejashi-Ethio-Turkish-International-Schools-2.png" />


                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        <a href="# ">Lets Celebrate ...</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail" style="background-color:#5a125b;">
                            <h4>Community Outreach</h4>
                            <img src="http://hizmetnews.com/sds/wp-content/uploads/2017/03/Nejashi-Ethio-Turkish-International-Schools-2.png" />


                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        <a href="# ">Lets Celebrate ...</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="bhoechie-tab-content">
                <div class="col-md-12">
                    <h2>Record and Registration Office</h2>

                </div>
                <div class="col-md-8">
                    <div class="sub-office-academicAffairs">
                        <h4>
                            The Office of Academic Affairs shapes the
                            strategic vision for the School’s academic programs.
                        </h4>
                    </div>
                    <div class="affair_body">
                        <p>
                            Working closely with faculty across the Bloomberg School of Public Health,
                            the Office oversees the School’s full range of learning experiences,
                            ensuring quality and innovation as degree-seeking students progress from
                            admission to graduation and public health professionals from around the world
                            come together to participate in certificate and training programs. Central to
                            these endeavors is the Office of Student Affairs, which supports students
                            through a strong network of resources that touch upon every aspect of
                            matriculation, from admissions to career services.

                            The far-reaching scholarly activities of our faculty and the School’s strong
                            ties to the practice community in Baltimore, the nation and throughout the world
                            ensure a rich and dynamic learning environment.
                        </p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="related_link_affairs">
                        <h4>Helpful Links</h4>
                        <div class="helpful-link">
                            <ul>
                                <li>@Html.ActionLink("Surgery", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("Student Life", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("School Of Medicine", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("School Dean?", "surgeryHome", "Surgery")</li>
                                <li>@Html.ActionLink("Surgery", "surgeryHome", "Surgery")</li>
                            </ul>
                        </div>
                    </div>

                    <div class="side-holder">
                        <div class="sub-side">
                            <div class="sub-side-img">
                                <img src="~/images/img/slide2.jpg" />
                            </div>
                            <div class="sub-side-detail">
                                <div class="sub-side-header">
                                    <h3>Dean's Letter</h3>
                                </div>
                                <div class="sub-side-article">
                                    <p>
                                        According to Latin professor Richard McClintock — the man credited
                                        with discovering Lorem Ipsum's roots — it is likely
                                        that sometime during the middle ages a typesetter scrambled part of
                                    </p>
                                </div>
                                <div class="readmore">
                                    <a href="#">READ MORE</a>
                                </div>
                                <hr />
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <div class="bhoechie-tab-content">
                <div class="event-page-title">
                    <h2>Special Event</h2>
                </div>

                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail" style="background-color:#07514c;">
                            <h4>Community Outreach</h4>
                            <img src="http://hizmetnews.com/sds/wp-content/uploads/2017/03/Nejashi-Ethio-Turkish-International-Schools-2.png" />


                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        <a href="# ">Lets Celebrate ...</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail" style="background-color:#ff6a00;">
                            <h4>Community Outreach</h4>
                            <img src="http://hizmetnews.com/sds/wp-content/uploads/2017/03/Nejashi-Ethio-Turkish-International-Schools-2.png" />


                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        <a href="# ">Lets Celebrate ...</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cont_applicants">
                        <div class="full-detail" style="background-color:#5a125b;">
                            <h4>Community Outreach</h4>
                            <img src="http://hizmetnews.com/sds/wp-content/uploads/2017/03/Nejashi-Ethio-Turkish-International-Schools-2.png" />


                            <div class="list-enqury">
                                <ul>
                                    <li>
                                        <a href="# ">Lets Celebrate ...</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
          
        </div>
    </div>
</div>




@section scripts{
    @Scripts.Render("~/bundles/pageSpec")
}