
@{
    ViewBag.Title = "SchoolAdmin";
    Layout = "~/Views/Shared/_NotDepartment.cshtml";
}

<div class="aboutTab-head">
    <h2>School  Leadership</h2>
</div>

<div class="col-md-8">
    <div class="admins-main">
        <div class="lead_cont">
            <div class="laed_img">
                <img src="~/images/img/slide2_blurred.jpg" class="thumbnail" />
            </div>
            <div class="lead_desc">
                <h5>Proffesor Asrat Haile</h5><br />
                <h6>Role:Current Dean</h6>
               @Html.ActionLink("Biography", "surgeryHome", "Surgery")
            </div>

        </div> 
        <hr id="dntal" />

        <div class="hist-det-adm">
            <div class="lead_cont">
                <div class="laed_img">
                    <img src="~/images/img/slide2_blurred.jpg" class="thumbnail" />
                </div>
                <div class="lead_desc">
                    <h5>Proffesor Asrat Haile</h5><br />
                    <h6>Role:Current Dean</h6>
                    @Html.ActionLink("Biography", "surgeryHome", "Surgery")
                </div>

            </div> 
            <hr />
        </div>
        <div class="hist-det-adm">
            <div class="lead_cont">
                <div class="laed_img">
                    <img src="~/images/img/slide2_blurred.jpg" class="thumbnail" />
                </div>
                <div class="lead_desc">
                    <h5>Proffesor Asrat Haile</h5><br />
                    <h6>Role:Current Dean</h6>
                    @Html.ActionLink("Biography", "surgeryHome", "Surgery")
                </div>

            </div>
            <hr />
        </div>
        <div class="hist-det-adm">
            <div class="lead_cont">
                <div class="laed_img">
                    <img src="~/images/img/slide2_blurred.jpg" class="thumbnail" />
                </div>
                <div class="lead_desc">
                    <h5>Proffesor Asrat Haile</h5><br />
                    <h6>Role:Current Dean</h6>
                    @Html.ActionLink("Biography", "surgeryHome", "Surgery")
                </div>

            </div>
            <hr />
        </div>
        <div class="hist-det-adm">
            <div class="lead_cont">
                <div class="laed_img">
                    <img src="~/images/img/slide2_blurred.jpg" class="thumbnail" />
                </div>
                <div class="lead_desc">
                    <h5>Proffesor Asrat Haile</h5><br />
                    <h6>Role:Medical Director</h6>
                    
                    @Html.ActionLink("Biography", "surgeryHome", "Surgery")
                </div>

            </div>
            <hr />
        </div>
    </div>

</div>
<div class="col-md-4">
    <div class="ad_ad">
        <img src="~/images/img/slide1.jpg" />
    </div>
    <div class="ad_ad">
        <img src="~/images/img/slide1.jpg" />
    </div>
  
</div>

