@model BHSM.Areas.Admin.ViewModel.EventViewModel
@{
    ViewBag.Title = "Create New Event";
    Layout = "~/Areas/Admin/Views/Shared/_Super.cshtml";

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>


}
<div class="container">
    <h2>Create New Event</h2>




    <div class="row">
        <div class="col-md-2 col-lg-2"></div>

        <div class="col-md-8 col-lg-8">

            <form method="post" enctype="multipart/form-data" onsubmit="return sendEvent(this);">
                @Html.AntiForgeryToken()


                <div class="row">
                    <div class="col-md-6">
                      

                        <div class="form-group">
                            @Html.LabelFor(m => m.Title, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Title of the Event" })
                               
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.HostedBy, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.HostedBy, new { @class = "form-control", placeholder = "Enter Your Name" })
                               
                            </div>
                        </div>

                       
                    </div>
                   
                </div>


                <div class="form-group">

                    @Html.LabelFor(m => m.Description, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description "})
                      
                    </div>
                    <br />
                </div>

                <div class="form-group">

                    @Html.LabelFor(m => m.EventImage, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">

                        @*<img src="~/images/Events/@Model.RelatedImage" style="width:200px;height:200px;margin:10px;" id="imagePreview" />*@
                       
                        @Html.TextBoxFor(m => m.EventImage, new { @accept = "image/x-png, image/jpeg,image/jpg,image/png", @class = "form-control-file", placeholder = "Select Image", type = "file", onChange = "ShowImagePreview(this,document.getElementById('imagePreview'))" })

                        <br />
                    </div>
                    <br />
                </div>
                
            
              
             


                <br />
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    <button class="btn btn-success " type="submit">Submit</button>
                </div>

            </form>



        </div>
        <div class="col-md-2 col-lg-2">
            @Html.ActionLink("Back To Index","EventIndex",null,new {@class="btn btn-warning" })

        </div>
    </div>

</div>







@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")


    <script>

        function ShowImagePreview(imageUploader, previewImage) {
            if (imageUploader.files && imageUploader.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $(previewImage).attr('src',e.target.result)
                }

                reader.readAsDataURL(imageUploader.files[0]);
            }

}

        function sendEvent(formData) {


            var ajaxConfig = {
                type: "post",
                url: "/Event/Save",
                data: new FormData(formData),
                success: function () {
                    alert("successfully Created!");
                    
                },
                fail: function () {
            
                    alert("oops,some error happed try again!");
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;

        }

    </script>


}



