<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,family=Felipa" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Felipa" rel="stylesheet">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
   
    <!-- or -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>



	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/share")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar navbar-inverse"></span>
					<span class="icon-bar navbar-inverse"></span>
					<span class="icon-bar navbar-inverse"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">About </a>
						<ul class="dropdown-menu">
                            <li>@Html.ActionLink("History", "History", "AboutTab")</li>
                            <li>@Html.ActionLink("School At Glance", "SchoolAtGlance", "AboutTab")</li>
                            <li>@Html.ActionLink("Leadership", "SchoolAdmin", "AboutTab")</li>
                            <li>@Html.ActionLink("Facts & Figures", "factFigures", "AboutTab")</li>
                            <li>@Html.ActionLink("Graduation", "Graduation", "AboutTab")</li>
                            <li>@Html.ActionLink("Office & Services", "OfficeAndService", "AboutTab")</li>
                            <li>@Html.ActionLink("Culture & Campus", "cultureCampus", "AboutTab")</li>
                            <li>@Html.ActionLink("Enquiry", "enqury", "AboutTab")</li>
                            <li>@Html.ActionLink("Event Calendar", "EventCalendar", "AboutTab")</li>
                            <li>@Html.ActionLink("Direction & Maps", "DirectionMap", "AboutTab")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Contact Us", "contactUs", "AboutTab")</li>


						</ul>
					</li>

					<!--the second navbar list-->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics </a>
						<ul class="dropdown-menu">
                            <li>@Html.ActionLink("Curriculum", "AcademicsHome", "Academics")</li>
                            <li>@Html.ActionLink("Medical Education", "medicalEducation", "Academics")</li>
                            <li>@Html.ActionLink("MD Admission", "mdadmission", "Academics")</li>
                            <li>@Html.ActionLink("Graduate Education", "graduateEducation", "Academics")</li>
                            <li>@Html.ActionLink("Post Doctoral Training", "postDocTraining", "Academics")</li>
                            <li>@Html.ActionLink("Continuing Education", "contedu", "Academics")</li>

                            <li class="divider"></li>
						</ul>
					</li>

					<!--the third navbar list-->



                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Department </a>
                        <ul class="dropdown-menu multi-column columns-3">

                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li>@Html.ActionLink("Anatomy", "Home", "Anathomy")</li>
                                        <li>@Html.ActionLink("Anesthesia", "Home", "Anesthesia")</li>
                                        <li>@Html.ActionLink("Anesthesiology", "Home", "Anesthesiology")</li>
                                        <li>@Html.ActionLink("Biochemistry", "Home", "Biochemistry")</li>
                                        <li>@Html.ActionLink("Dentistry", "Home", "Dentistry")</li>
                                        <li>@Html.ActionLink("Dermatovenerology", "Home", "Dermatovenerolgy")</li>

                                        <li>@Html.ActionLink("Emergency Medicine", "Home", "EmergencyMedicine")</li>
                                        <li>@Html.ActionLink("ENT", "Home", "ENT")</li>


                                    </ul>
                                </div>

                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li>@Html.ActionLink("Family Medicine", "Home", "FamilyMedicine")</li>
                                        <li>@Html.ActionLink("Internal Medicine", "internalHome", "InternalMedicine")</li>
                                        <li>@Html.ActionLink("Microbiology", "Home", "Microbiology")</li>
                                        <li>@Html.ActionLink("Neurology", "Home", "Neurology")</li>
                                        <li>@Html.ActionLink("Obstetrics & Gynecology", "Home", "ObstetricsGyne")</li>
                                        <li>@Html.ActionLink("Oncology", "Home", "Oncology")</li>
                                        <li>@Html.ActionLink("Ophthalmology", "Home", "Ophtalmology")</li>
                                        <li>@Html.ActionLink("Orthopedics", "Home", "Orthopedics")</li>



                                    </ul>
                                </div>

                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li>@Html.ActionLink("Pathology", "Home", "Pathology")</li>
                                        <li>@Html.ActionLink("Pediatrics & Child Health", "Home", "Pediatric")</li>
                                        <li>@Html.ActionLink("Physiology", "Home", "Physiology")</li>
                                        <li>@Html.ActionLink("Psychiatry", "Home", "Psychiatry")</li>
                                        <li>@Html.ActionLink("Radiography", "Home", "Radiography")</li>
                                        <li>@Html.ActionLink("Radiology", "Home", "Radiology")</li>
                                        <li>@Html.ActionLink("Surgery", "surgeryHome", "Surgery")</li>
                                    </ul>
                                </div>
                            </div>





                        </ul>
                    </li>



					<!--the fourth navbar list-->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Research </a>
						<ul class="dropdown-menu">
                            <li>@Html.ActionLink("Research Center & Institutes", "center_institues", "Reseach")</li>
                            <li>@Html.ActionLink("Sample Research Profile", "sampleReseach", "Reseach")</li>
                            <li>@Html.ActionLink("Researcher Resource", "reseachResource", "Reseach")</li>
                            
							

						</ul>
					</li>


					<!--the fifth navbar list-->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Student Life </a>
						<ul class="dropdown-menu">
                            <li>@Html.ActionLink("Events & Activities", "eventsActivity", "StudentLife")</li>
                            <li>@Html.ActionLink("International Students", "internationalstu", "StudentLife")</li>
                            <li>@Html.ActionLink("Gallery", "graduationGallery", "StudentLife")</li>
                            <li>@Html.ActionLink("Student Exchange Program", "outreachprogram", "StudentLife")</li>


						</ul>
					</li>

					<!--the six navbar list-->

            
                  
						
					
					<!--the seven navbar list-->



				 




					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">News </a>
						<ul class="dropdown-menu">
                            <li>@Html.ActionLink("News Releases", "news", "News")</li>
                            <li>@Html.ActionLink("Magazine", "socialmedias", "News")</li>
							

						</ul>
					</li>
				  
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Centers </a>
						<ul class="dropdown-menu">

                            <li>@Html.ActionLink("Diabetics center", "diabetics", "Centers")</li>
                            <li>@Html.ActionLink("Center For ethics & Priority Setting", "ethicCenter", "Centers")</li>
                            <li>@Html.ActionLink("Infectious Disease Center", "infectiosDes", "Centers")</li>
                            <li>@Html.ActionLink("Cardiac Center", "cardiacCenter", "Centers")</li>
							

						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Allied Hospital </a>
						<ul class="dropdown-menu">
                            <li>@Html.ActionLink("Zewditu Memorial Hospital", "zewditu", "AlliedHospitals")</li>
                            <li>@Html.ActionLink("Minilik II Hospital", "menilik", "AlliedHospitals")</li>
                            <li>@Html.ActionLink("Ghandi Memorial Hospital", "Ghandi", "AlliedHospitals")</li>
                            <li>@Html.ActionLink("ALERT Hospital", "alert", "AlliedHospitals")</li>
                            <li>@Html.ActionLink("Amanuel Hospital", "Amanuel", "AlliedHospitals")</li>
                            <li>@Html.ActionLink("St.Peter Hospital", "peter", "AlliedHospitals")</li>


							


						</ul>
					</li>

                    <li>@Html.ActionLink("Enquiry", "enqury", "AboutTab")</li>

				   

				</ul>

			   

			</div>
		</div>
	   
	</div>

	<div class="header-footer">
		<div class="headr">
			<div class="log">
				<img  alt="logo of AAu" src="http://www.aau.edu.et/wp-content/uploads/2016/05/logo-Copy-300x300.png"
					 class="img-circle img-responsive"  />
			</div>
			<div class="logtext row">
				<h2>Addis Ababa University</h2>
				<h2>College Of Health Science</h2>
				<h2>School Of Medicine</h2>
			</div>

		</div>

	</div>











	<div class="container body-content">
		
					@RenderBody()

		   
	 

	</div>
	@Html.Partial("_footer")



	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/slider")
	@RenderSection("scripts", required: false)


	<script type="text/javascript">

		function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}

	}


	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
			htmlbodyHeightUpdate()
		});

	    //alsd

		$('#myCarousel').carousel({
		    interval: 5000
		});

	    //Handles the carousel thumbnails
		$('[id^=carousel-selector-]').click(function () {
		    var id_selector = $(this).attr("id");
		    try {
		        var id = /-(\d+)$/.exec(id_selector)[1];
		        console.log(id_selector, id);
		        jQuery('#myCarousel').carousel(parseInt(id));
		    } catch (e) {
		        console.log('Regex failed!', e);
		    }
		});
	    // When the carousel slides, auto update the text
		$('#myCarousel').on('slid.bs.carousel', function (e) {
		    var id = $('.item.active').data('slide-number');
		    $('#carousel-text').html($('#slide-content-' + id).html());
		});


	});
	

	</script>



	</body>
</html>