<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,family=Felipa" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Felipa" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>



	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar navbar-inverse"></span>
					<span class="icon-bar navbar-inverse"></span>
					<span class="icon-bar navbar-inverse"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">About </a>
						<ul class="dropdown-menu">
                            <li><a href="#">History</a></li>
                            <li><a href="#">School At a Glance</a></li>
                            <li><a href="#">School Adminstratives</a></li>
                            <li><a href="#">Office &amp; Services</a></li>
                            <li><a href="#">Direction &amp; Maps</a></li>
                            <li><a href="#">Event Calendar</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Contact Us</a></li>
						</ul>
					</li>

					<!--the second navbar list-->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics </a>
						<ul class="dropdown-menu">
							<li><a href="#">Curriculum</a></li>
							<li><a href="#">Medical Education</a></li>
							<li><a href="#">MD Admission</a></li>
							<li><a href="#">Graduate Education</a></li>
							<li><a href="#">Post Doctoral Training</a></li>
							<li><a href="#">Continuing Education</a></li>
							<li><a href="#">Office For External Education</a></li>
							<li class="divider"></li>
							<li><a href="#">More</a></li>
						</ul>
					</li>

					<!--the third navbar list-->


					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Department</a>
						<ul class="dropdown-menu">
                            <li><a href="#">Anatomy</a></li>
                            <li><a href="#">Anesthesia</a></li>
                            <li><a href="#">Anesthesiology</a></li>
                            <li><a href="#">BioChemistry</a></li>
                            <li><a href="#">Dentistry</a></li>
                            <li><a href="#">Dermatovenerology</a></li>
                            <li><a href="#">Emergency Medicine</a></li>
                            <li><a href="#">ENT</a></li>
                            <li><a href="#">Family Medicine</a></li>
                            <li><a href="#">Internal Medicine</a></li>
                            <li><a href="#">Microbiology</a></li>
                            <li><a href="#">Neurology</a></li>
                            <li><a href="#">Obstetrics &amp; Gynecology</a></li>
                            <li><a href="#">Oncology</a></li>
                            <li><a href="#">Ophthalmology</a></li>
                            <li><a href="#">Orthopedics</a></li>
                            <li><a href="#">Pathology</a></li>
                            <li><a href="#">Pediatrics &amp; Child Health</a></li>
                            <li><a href="#">Pharmacology</a></li>
                            <li><a href="#">Physiology</a></li>
                            <li><a href="#">psychiatry</a></li>
                            <li><a href="#">Radiography</a></li>
                            <li><a href="#">Radiology</a></li>
                            <li><a href="#">Surgery</a></li>


						</ul>
					</li>



					<!--the fourth navbar list-->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Research </a>
						<ul class="dropdown-menu">
							<li><a href="#">Center &amp; Institutes</a></li>
							<li><a href="#">Global Project</a></li>
							<li><a href="#">Faculty Directory</a></li>
							<li><a href="#">Funding Institutional</a></li>
							<li><a href="#">Pure Research Profile</a></li>
							<li><a href="#">HMS Researcher Resource</a></li>
							<li><a href="#">Paper Chase</a></li>

						</ul>
					</li>


					<!--the fifth navbar list-->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Student Life </a>
						<ul class="dropdown-menu">
							<li><a href="#">Events &amp; Activities</a></li>
							<li><a href="#">International Students</a></li>
							<li><a href="#">Graduation</a></li>
							<li><a href="#">Office Of Student Affairs</a></li>
							<li><a href="#">Student Assembly</a></li>
							<li><a href="#">Student outreach Resource Center</a></li>


						</ul>
					</li>

					<!--the six navbar list-->

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainings</a>
						<ul class="dropdown-menu">
							<li><a href="#">Practice For Faculty</a></li>
							<li><a href="#">Practice For Student</a></li>
							<li><a href="#">Practice For Proffessionals</a></li>
							<li><a href="#">Graduate Training Programs In Clinical Investigation</a></li>
							<li><a href="#">Health Training Center</a></li>
							<li><a href="#">Other Training</a></li>


						</ul>
					</li>

					<!--the seven navbar list-->



					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Givings </a>
						<ul class="dropdown-menu">
							<li><a href="#">Make a Gift Now</a></li>
							<li><a href="#">HMS Donors</a></li>
							<li><a href="#">How Your Gift Helps</a></li>
							<li><a href="#">How To Make A Gift</a></li>
							<li><a href="#">Contact Use</a></li>


						</ul>
					</li>




					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">News </a>
						<ul class="dropdown-menu">
							<li><a href="#">News Releases</a></li>
							<li><a href="#">Stories</a></li>
							<li><a href="#">Social Media</a></li>
							<li><a href="#">Magazine</a></li>

						</ul>
					</li>

				</ul>

			   <!--
				   <form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="button-butn-search"><span style="color:#fff;" class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</form>
			   
				   --> 

			</div>
		</div>



	</div>

	   

	
    <div class="headr">Logo</div>


  
	<div class="container body-content">
		@RenderBody()
	  	   
	</div>


	<script type="text/javascript">

		function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}

	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
			htmlbodyHeightUpdate()
		});
	});


	</script>



	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/slider")
	@RenderSection("scripts", required: false)
</body>
</html>
