
@{
    ViewBag.Title = "Unit";
    Layout = "~/Views/Shared/_DepartmentOnly.cshtml";
}


<div class="container">
    <div class="contra">
        <div class="sub-header">
            <h3 style="color:#fff; text-align:left;">Department of Pediatrics</h3>
        </div>
        <div class="cover">
            <div class="sidebar">
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Home", "Home", "Pediatric")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("About", "About", "Pediatric")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("History", "History", "Pediatric")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Unit", "Unit", "Pediatric")
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Staff", "staff", "Pediatric")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Research", "research", "Pediatric")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Programs", "program", "Pediatric")


                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Contact Us", "contact", "Pediatric")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Calendar", "calendar", "Pediatric")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Head of the Department</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Chief Resident</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>


            </div>

            <div class="bodypart">
                <div class="breadcumps">

                </div>
                <div class="row">
                    <div class="unit">
                        <h2>Units Under The Department</h2>
                        <div class="des">
                            <h5>
                                &ldquo;unit is the working devision controlled by central department head
                                but found geographically in different places &ldquo;
                            </h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Cardiochoracis</h3>
                                        <p>
                                            expression about the details of the units and its main focus and also
                                            any related news or anything that everybody should know.
                                        </p>
                                    </div>
                                    <div class="owner">
                                        <h4>Chair Person - Dr. Birhanu Nega</h4>
                                        <h5>Email: Birhanu@gmail.com</h5>
                                        <h5>Tel: +251 11 042 231</h5>
                                        <h5>Fax: Birhanu@gmail.com</h5>
                                        <h5>Office: 4th floor,34-room</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="unit-detail-one">
                                    <div class="one">
                                        <h3>Cardiochoracis</h3>
                                        <p>
                                            expression about the details of the units and its main focus and also
                                            any related news or anything that everybody should know.
                                        </p>
                                        <div class="owner">
                                            <h4>Chair Person - Dr. Birhanu Nega</h4>
                                            <h5>Email: Birhanu@gmail.com</h5>
                                            <h5>Tel: +251 11 042 231</h5>
                                            <h5>Fax: Birhanu@gmail.com</h5>
                                            <h5>Office: 4th floor,34-room</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Cardiochoracis</h3>
                                        <p>
                                            expression about the details of the units and its main focus and also
                                            any related news or anything that everybody should know.
                                        </p>
                                    </div>
                                    <div class="owner">
                                        <h4>Chair Person - Dr. Birhanu Nega</h4>
                                        <h5>Email: Birhanu@gmail.com</h5>
                                        <h5>Tel: +251 11 042 231</h5>
                                        <h5>Fax: Birhanu@gmail.com</h5>
                                        <h5>Office: 4th floor,34-room</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="unit-detail-one">
                                    <div class="one">
                                        <h3>Cardiochoracis</h3>
                                        <p>
                                            expression about the details of the units and its main focus and also
                                            any related news or anything that everybody should know.
                                        </p>
                                        <div class="owner">
                                            <h4>Chair Person - Dr. Birhanu Nega</h4>
                                            <h5>Email: Birhanu@gmail.com</h5>
                                            <h5>Tel: +251 11 042 231</h5>
                                            <h5>Fax: Birhanu@gmail.com</h5>
                                            <h5>Office: 4th floor,34-room</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Cardiochoracis</h3>
                                        <p>
                                            expression about the details of the units and its main focus and also
                                            any related news or anything that everybody should know.
                                        </p>
                                    </div>
                                    <div class="owner">
                                        <h4>Chair Person - Dr. Birhanu Nega</h4>
                                        <h5>Email: Birhanu@gmail.com</h5>
                                        <h5>Tel: +251 11 042 231</h5>
                                        <h5>Fax: Birhanu@gmail.com</h5>
                                        <h5>Office: 4th floor,34-room</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="unit-detail-one">
                                    <div class="one">
                                        <h3>Cardiochoracis</h3>
                                        <p>
                                            expression about the details of the units and its main focus and also
                                            any related news or anything that everybody should know.
                                        </p>
                                        <div class="owner">
                                            <h4>Chair Person - Dr. Birhanu Nega</h4>
                                            <h5>Email: Birhanu@gmail.com</h5>
                                            <h5>Tel: +251 11 042 231</h5>
                                            <h5>Fax: Birhanu@gmail.com</h5>
                                            <h5>Office: 4th floor,34-room</h5>
                                        </div>
                                        <div class="surgery-details">
                                            <div class="r1">
                                                <h5>General Surgery(G:1)</h5>
                                                <h6>Dr.Nisyoum Hailu</h6>
                                                <p>Haile@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="surgery-details">
                                            <div class="r1">
                                                <h5>General Surgery(G:2)</h5>
                                                <h6>Dr.Nisyoum Hailu</h6>
                                                <p>Haile@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="surgery-details">
                                            <div class="r1">
                                                <h5>General Surgery(G:3)</h5>
                                                <h6>Dr.Nisyoum Hailu</h6>
                                                <p>Haile@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="surgery-details">
                                            <div class="r1">
                                                <h5>General Surgery(G:4)</h5>
                                                <h6>Dr.Nisyoum Hailu</h6>
                                                <p>Haile@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


    </div>





</div>


