
@{
    ViewBag.Title = "research";
    Layout = "~/Views/Shared/_DepartmentOnly.cshtml";
}

<div class="container">
    <div class="contra">
        <div class="sub-header">
            <h3 style="color:#fff; text-align:left;">Department of Obstetrics &amp; Gynecology</h3>
        </div>
        <div class="cover">
            <div class="sidebar">
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Home", "Home", "ObstetricsGyne")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("About", "About", "ObstetricsGyne")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("History", "History", "ObstetricsGyne")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Unit", "Unit", "ObstetricsGyne")
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Staff", "staff", "ObstetricsGyne")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Research", "research", "ObstetricsGyne")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Programs", "program", "ObstetricsGyne")


                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Contact Us", "contact", "ObstetricsGyne")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Calendar", "calendar", "ObstetricsGyne")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Head of the Department</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Chief Resident</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>


            </div>

            <div class="bodypart">
                <div>
                    <div class="breadcumps">

                    </div>
                    <div class="body-head">
                        <h2>Research</h2>
                    </div>
                    <div class="body-body">
                        <p>
                            Research in the Department of Biostatistics is organized into Working Groups
                            of faculty, postdoctoral fellows and students. Groups meet regularly in a variety
                            of intellectual meeting formats including research-in-progress sessions, journal
                            club, topical seminars and working discussions. These span population modeling
                            methodologies, “big data” methodologies and applications in both statistical
                            genomics and advanced research technologies such as neuroimaging and wearable
                            computing, causal inference, and the department’s major application areas of
                            environmental health and epidemiology and aging. Faculty and students disseminate
                            their work through publications, software, blogs and other avenues. For additional
                            information, please read more about our research
                            areas and visit the websites of each of our Working Groups listed below.
                        </p>


                    </div>

                    <div class="vision">

                        <div class="body-body">

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="res-box">
                                        <h4>On Progress Research</h4>
                                        <div class="phot">
                                            <img src="~/images/Contact.jpg" />
                                        </div>

                                        <h3>Research specific Name</h3>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="res-box" id="second-research">
                                        <h4>On Progress Research</h4>
                                        <div class="phot">
                                            <img src="~/images/Contact.jpg" />
                                        </div>

                                        <h3>Research specific Name</h3>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="res-box" id="three-research">
                                        <h4>On Progress Research</h4>
                                        <div class="phot">
                                            <img src="~/images/Contact.jpg" />
                                        </div>

                                        <h3>Research specific Name</h3>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="res-box" id="sec-res">
                                        <h4>On Progress Research</h4>
                                        <div class="phot">
                                            <img src="~/images/Contact.jpg" />
                                        </div>

                                        <h3>Research specific Name</h3>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="res-box" id="sec-sec-res">
                                        <h4>On Progress Research</h4>
                                        <div class="phot">
                                            <img src="~/images/Contact.jpg" />
                                        </div>

                                        <h3>Research specific Name</h3>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="res-box" id="sec-sec-sec">
                                        <h4>On Progress Research</h4>
                                        <div class="phot">
                                            <img src="~/images/Contact.jpg" />
                                        </div>

                                        <h3>Research specific Name</h3>

                                    </div>
                                </div>
                            </div>



                            <p>
                                The mandate of the Biochemistry and Molecular Biology department is to
                                further basic science knowledge that is relevant to public health and to
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>
                        </div>
                    </div>





                </div>

            </div>

        </div>


    </div>





</div>

