
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_DepartmentOnly.cshtml";
}

<div>
    <div class="contra container">
        <div class="sub-header">
            <h3 style="color:#fff; text-align:left;">Department of Internal Medicine</h3>
        </div>
        <div class="cover">
            <div class="sidebar">
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Home", "internalHome", "InternalMedicine")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("About", "About", "InternalMedicine")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("History", "History", "InternalMedicine")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Unit", "Unit", "InternalMedicine")
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Staff", "staff", "InternalMedicine")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Research", "research", "InternalMedicine")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Programs", "program", "InternalMedicine")


                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Contact Us", "contact", "InternalMedicine")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Calendar", "calendar", "InternalMedicine")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Head of the Department</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Chief Resident</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>


            </div>

            <div class="bodypart">
                <div class="hi">
                    <h2>History of The Department</h2>
                    <div class="body-body">
                        <p>
                            The mandate of the Biochemistry and Molecular Biology department is to
                            further basic science knowledge that is relevant to public health and to
                            the core mission of our home, the Johns Hopkins Bloomberg School of Public
                            Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                            at the
                            cellular and molecular level that can "save lives, millions at a time."
                        </p>

                        <p>
                            Description and list of events
                            the core mission of our home, the Johns Hopkins Bloomberg School of Public
                            Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                            at the
                            cellular and molecular level that can "save lives, millions at a time."
                        </p>
                        <p>
                            Description and list of events
                            the core mission of our home, the Johns Hopkins Bloomberg School of Public
                            Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                            at the
                            cellular and molecular level that can "save lives, millions at a time."
                        </p>
                        <p>
                            Description and list of events
                            the core mission of our home, the Johns Hopkins Bloomberg School of Public
                            Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                            at the
                            cellular and molecular level that can "save lives, millions at a time."
                        </p>

                        <div>
                            <h3>Department in 1995</h3>
                            <p>
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                            </p>
                        </div>
                        <div>
                            <h3>Department in 1995</h3>
                            <p>
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                            </p>
                        </div>
                        <div>
                            <h3>Department in 1995</h3>
                            <p>
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>





</div>



