@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_DepartmentOnly.cshtml";
}

<div class="container">
    <div class="contra">
        <div class="sub-header">
            <h3 style="color:#fff; text-align:left;">Department of Radiology</h3>
        </div>
        <div class="cover">
            <div class="sidebar">
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Home", "Home", "Radiology")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("About", "About", "Radiology")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("History", "History", "Radiology")

                            </li>
                        </ul>
                    </div>
                </div>
              

                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Staff", "staff", "Radiology")
                            </li>
                        </ul>
                    </div>
                </div>
              
              
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Contact Us", "contact", "Radiology")

                            </li>
                        </ul>
                    </div>
                </div>
               
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Head of the Department</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Chief Resident</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>


            </div>

            <div class="bodypart">
                <div>
                    <div class="breadcumps">

                    </div>
                    <div class="body-head">
                        <h2>Mission Statement</h2>
                    </div>
                    <div class="body-body">
                        <p>
                            The mandate of the Biochemistry and Molecular Biology department is to
                            further basic science knowledge that is relevant to public health and to
                            the core mission of our home, the Johns Hopkins Bloomberg School of Public
                            Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                            at the
                            cellular and molecular level that can "save lives, millions at a time."
                        </p>

                        <p>
                            The mandate of the Biochemistry and Molecular Biology department is to
                            further basic science knowledge that is relevant to public health and to
                            the core mission of our home, the Johns Hopkins Bloomberg School of Public
                            Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                            at the
                            cellular and molecular level that can "save lives, millions at a time."
                        </p>
                    </div>

                    <div class="vision">
                        <h3>Vision Statement</h3>
                        <div class="body-body">
                            <p>
                                The mandate of the Biochemistry and Molecular Biology department is to
                                further basic science knowledge that is relevant to public health and to
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>

                            <p>
                                The mandate of the Biochemistry and Molecular Biology department is to
                                further basic science knowledge that is relevant to public health and to
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>
                        </div>
                    </div>


                    <div class="row">
                        <h2>Departmental Events</h2>

                        <div class="body-body">
                            <p>
                                The mandate of the Biochemistry and Molecular Biology department is to
                                further basic science knowledge that is relevant to public health and to
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>

                            <p>
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>
                            <p>
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>
                            <p>
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>
                        </div>


                    </div>


                </div>
            </div>

        </div>


    </div>





</div>


