
@{
    ViewBag.Title = "Unit";
    Layout = "~/Views/Shared/_DepartmentOnly.cshtml";

    <style>
    </style>
}



<div>
    <div class="contra container">
        <div class="sub-header">
            <h3 style="color:#fff; text-align:left;">Department of Surgery</h3>
        </div>
        <div class="cover">
            <div class="sidebar">
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Home", "surgeryHome", "Surgery")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("About", "About", "Surgery")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("History", "History", "Surgery")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Unit", "Unit", "Surgery")
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Staff", "staff", "Surgery")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Research", "research", "Surgery")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Programs", "program", "Surgery")


                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Contact Us", "contact", "Surgery")

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Calendar", "calendar", "Surgery")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Head of the Department</h2>
                        <img src="~/images/img/slide3.jpg" alt="image" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Chief Resident</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>


            </div>

            <div class="bodypart">
                <div class="breadcumps">

                </div>
                <div class="row">
                    <div class="unit col-lg-12 col-md-12 col-sm-12">
                        <h2>Units Under The Department</h2>
                        <br />
                        <div class="des col-lg-12 col-md-12 col-sm-12" >
                            <h5>
                                &ldquo;unit is the working devision controlled by central department head
                                but found geographically in different places &ldquo;
                            </h5>
                        </div>
                        <div class="row">




                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>General Surgery</h3>
                                        <hr />
                                        <p>
                                            The General surgery unit is the largest in the department with 13 consultant surgeons working in 4 different hospitals.
                                            It is proceeding to sub-units in hepatobiliary,vascular,endocrine, and colorectal surgery.
                                        </p>
                                        <br />
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">

                                            <img src="~/images/surgUnit/0.jpg" class="img-responsive img-circle" style="width:100%;" /> <br />
                                            <div class="owner">
                                                <h4 style="font-size:small;font-weight:bold">Dr. Nebyou Seyoum</h4>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="owner">
                                                <h3>Address</h3>
                                                <h5> Birhanu@gmail.com</h5>
                                                <h5> +251 11 042 231</h5>

                                                <h5>Office: 4th floor,34-room</h5>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Plastic &amp; Reconstructive Surgery</h3>

                                        <p>
                                            The unit has 5 surgeons working in 2 sub-units of Plastic &amp; Reconstructive surgery;
                                            At Yekatit 12 &amp; ALERT hospital working on burn,cleft lip/palate care,hand surgery and cover wide areas of reconstructive surgery.
                                        </p>

                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col-md-6">
                                            <img src="~/images/surgUnit/Yohannes_Demissie.jpg" class="img-responsive img-circle"
                                                 style="width:100%;" />
                                            <br />
                                            <div class="owner">
                                                <h4 style="font-size:small;font-weight:bold">Dr. Yohannes Demissie</h4>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="owner">
                                                <h3>Address</h3>
                                                <h5> Birhanu@gmail.com</h5>
                                                <h5> +251 11 042 231</h5>

                                                <h5>Office: 4th floor,34-room</h5>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>

                        <div class="row">




                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Urology Unit</h3>
                                        <hr />
                                        <p>
                                            The Urology unit has 7 surgeons and is the leading unit in minimally invasive procedures.
                                            It is in talks to establish a renal transplant center.
                                        </p>
                                        <br />
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <img src="~/images/surgUnit/default.png" class="img-responsive img-circle" style="width:100%;" />
                                            <br />
                                            <div class="owner">
                                                <h4 style="font-size:small;font-weight:bold">Dr. Mulat Taye</h4>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="owner">
                                                <h3>Address</h3>
                                                <h5> user@gmail.com</h5>
                                                <h5> +251 11 042 231</h5>

                                                <h5>Office: 4th floor,34-room</h5>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Neurosurgery</h3>

                                        <p>
                                            The Neurosurgery unit has 8 surgeons and is currently training more than 50 residents.
                                            With endeavors in skull base and vascular neurosurgery,the unit diligently strives to establish advanced care in Ethiopia.
                                        </p>

                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col-md-6">
                                            <img src="~/images/surgUnit/default.png" class="img-responsive img-circle" style="width:100%;" />

                                            <br />
                                            <div class="owner">
                                                <h4 style="font-size:small;font-weight:bold">Dr.Abat Sahlu</h4>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="owner">
                                                <h3>Address</h3>
                                                <h5> abat@gmail.com</h5>
                                                <h5> +251 11 042 231</h5>

                                                <h5>Office: 4th floor,34-room</h5>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>

                        <div class="row">




                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Pediatric Surgery</h3>
                                        <hr />
                                        <p>
                                            The Pediatric surgical unit has 7 surgeons and provides residency as well as fellowship training.
                                            It is in the process of developing super speciality programs in pediatric colorectal,pediatric urology and neonatal surgery.
                                        </p>
                                        <br />
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">

                                            <img src="~/images/surgUnit/default.png" class="img-responsive img-circle" style="width:100%;" />

                                            <h4 style="font-size:small;font-weight:bold">Dr.Belachew Dejene</h4>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="owner">
                                                <h3>Address</h3>
                                                <h5> Birhanu@gmail.com</h5>
                                                <h5> +251 11 042 231</h5>

                                                <h5>Office: 4th floor,34-room</h5>
                                            </div>
                                        </div>

                                    </div>
                                   
                                </div>


                            </div>



                            <div class="col-sm-6">
                                <div class="unit-detail">
                                    <div class="one">
                                        <h3>Cardiothoracic</h3>

                                        <p>
                                            The Cardiothoracic unit is the only one in the country with 7 consultant surgeons and 4 staff residents under training.
                                            It is underway to establish a fully functional unit for cardiac surgery.
                                        </p>

                                    </div>
                                    <div class="row">
                                        <br />
                                        <div class="col-md-6">
                                            <img src="~/images/surgUnit/default.png" class="img-responsive img-circle" style="width:100%;" />

                                            <br />
                                            <div class="owner">
                                                <h4 style="font-size:small;font-weight:bold">Dr. Birhanu Nega</h4>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="owner">
                                                <h3>Address</h3>
                                                <h5> Birhanu@gmail.com</h5>
                                                <h5> +251 11 042 231</h5>

                                                <h5>Office: 4th floor,34-room</h5>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>

                    </div>

                </div>
            </div>

        </div>


    </div>





</div>

