@model BHSM.Areas.Admin.ViewModel.StaffViewModel
@{
    ViewBag.Title = "Edit Staff Profile";
    Layout = "~/Areas/Admin/Views/Shared/_Super.cshtml";

    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
}


  <h2>Edit and Update Staff Profile</h2>
<div>
    <h2 style="text-align:center">Register New Staff</h2>

    <hr />
    <br />
    <br />


    <div class="row">
        <div class="col-md-2 col-lg-2"></div>

        <div class="col-md-8 col-lg-8">

            <form method="post" enctype="multipart/form-data" onsubmit="return sendData(this);">
                @Html.AntiForgeryToken()


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter First Name" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                                <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.SecondName, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control", placeholder = "Enter Middle Name" })
                                @Html.ValidationMessageFor(m => m.SecondName)   <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter Last Name" })
                                @Html.ValidationMessageFor(m => m.LastName)   <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Departments, new { @class = "col-md-8 control-label" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Departments)<br />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Gender, new { @class = "col-md-4 control-label" }) <br />
                            <div class="col-md-12 col-md-offset-4">
                                <label>Male</label>   @Html.RadioButton("Gender", "Male")
                                <label>Female</label> @Html.RadioButton("Gender", "Female")<br />
                                @Html.ValidationMessageFor(m => m.Gender)
                                <br />

                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.Email)   <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Office, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Office, new { @class = "form-control", placeholder = "eg. blg,office Number" })
                                @Html.ValidationMessageFor(m => m.Office)   <br />
                            </div>
                        </div>





                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Nationality, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control", placeholder = "eg. Ethiopian" })
                                @Html.ValidationMessageFor(m => m.Nationality)<br />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Specialization, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Specialization, new { @class = "form-control", placeholder = "Enter Your Specialization" })
                                @Html.ValidationMessageFor(m => m.Specialization)<br />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AcademicRank, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.AcademicRank, new { @class = "form-control", placeholder = "eg. Professor" })
                                @Html.ValidationMessageFor(m => m.AcademicRank)<br />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Status, new { @class = "form-control", placeholder = "eg. Full time" })
                                @Html.ValidationMessageFor(m => m.Status)<br />
                            </div>
                            <br />
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(m => m.LinkdenLink, new { @class = "col-md-8 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.LinkdenLink, new { @class = "form-control", placeholder = "enter your Linkdln username or reseach gator link" })
                                @Html.ValidationMessageFor(m => m.LinkdenLink)<br />
                            </div>
                            <br />
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(m => m.ProfileImage, new { @class = "col-md-8 control-label" })
                            <div class="col-md-12">

                                @* <input name="ProfileImage" id="ProfileImage" class="form-control-file " placeholder="Select Image" type="file" required /><br />*@
                                <img src="~/images/staff/@Model.imageUrl" style="width:200px;height:200px;margin:10px;"  id="imagePreview"/>
                                @*<img src="~/images/staff/@Model.imageUrl" alt="" class="img-responsive circ">*@
                                @Html.TextBoxFor(m => m.ProfileImage, new { @class = "form-control-file", placeholder = "Select Image", type = "file",onChange= "ShowImagePreview(this,document.getElementById('imagePreview'))" } )

                                @Html.ValidationMessageFor(m => m.ProfileImage) <br />
                                <br />
                            </div>
                            <br />
                        </div>




                    </div>


                </div>


                <div class="form-group">

                    @Html.LabelFor(m => m.AdditionalResponsibility, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.AdditionalResponsibility, new { @class = "form-control", placeholder = "enter your Linkdln username or reseach gator link", style = "min-width: 100%!important;" })
                        @Html.ValidationMessageFor(m => m.AdditionalResponsibility)<br />
                    </div>
                    <br />
                </div>

                <div class="form-group">

                    @Html.LabelFor(m => m.PersonalStatement, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.PersonalStatement, new
                   {
                       @class = "form-control",
                       placeholder = "Your Personal statement. eg. interest,motivation...etc",
                       style = "min-width: 100%!important;"
                   })
                        @Html.ValidationMessageFor(m => m.PersonalStatement)<br />
                    </div>
                    <br />
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.WorkHistory, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.WorkHistory, new
                   {
                       @class = "form-control",
                       placeholder = "Enter Your work experience until today",
                       style = "min-width: 100%!important;"
                   })
                        @Html.ValidationMessageFor(m => m.WorkHistory)<br />
                    </div>
                    <br />
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.EducationalBackground, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.EducationalBackground, new
                   {
                       @class = "form-control",
                       placeholder = "Your Educational Background",
                       style = "min-width: 100%!important;"
                   })
                        @Html.ValidationMessageFor(m => m.EducationalBackground)<br />
                    </div>
                    <br />
                </div>
                <div class="form-group">

                    @Html.LabelFor(m => m.ContributionToScienceAndResearch, new { @class = "col-md-8 control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.ContributionToScienceAndResearch, new
                   {
                       @class = "form-control",
                       placeholder = "Enter your contribution to science and all related researches....",
                       style = "min-width: 100%!important;"
                   })
                        @Html.ValidationMessageFor(m => m.ContributionToScienceAndResearch)<br />
                    </div>
                    <br />
                </div>


                <br />
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    <button class="btn btn-success btn-block glyphicon glyphicon-plus-sign" type="submit"> Submit</button>
                </div>

            </form>

        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
</div>



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")





    <script>

        function ShowImagePreview(imageUploader, previewImage) {
            if (imageUploader.files && imageUploader.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                $(previewImage).attr('src',e.target.result)
                }

                reader.readAsDataURL(imageUploader.files[0]);
            }

}

        function sendData(formData) {


            var ajaxConfig = {
                type: "post",
                url: "/StaffProfile/Create",
                data: new FormData(formData),
                success: function (result) {


                   alert("successfully Created!");

                },
                fail: function (result) {
                    console.log(result);
                    alert("oops,some error happed try again!");
                }
            }


            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);


            return false;

        }

    </script>


}


