@model BHSM.Areas.Admin.ViewModel.StaffViewModel
@{
    ViewBag.Title = "NewStaff";
    Layout = "~/Areas/Admin/Views/Shared/_Super.cshtml";

    <style>
        span.field-validation-error {
            color:red;
            }
    </style>
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script> 
<div>
    <h2 style="text-align:center">Register New Staff</h2>
    
    <hr />
    <br />
    <br />

    <div class="row">
        <div class="col-md-2 col-lg-2"></div>

        <div class="col-md-8 col-lg-8">

            <form method="post" enctype="multipart/form-data" onsubmit="return sendData(this);">
                @Html.AntiForgeryToken()
               

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter First Name" })
                                @Html.ValidationMessageFor(m => m.FirstName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SecondName, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control", placeholder = "Enter Middle Name" })
                                @Html.ValidationMessageFor(m => m.SecondName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-5 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter Last Name" })
                                @Html.ValidationMessageFor(m => m.LastName)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Departments, new { @class = "col-md-8 control-label" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Departments)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Gender, new { @class = "col-md-4 control-label" }) <br />
                            <div class="col-md-12">
                                <label>Male</label>   @Html.RadioButton("Gender", "Male")
                                <label>Female</label> @Html.RadioButton("Gender", "Female")
                            </div>
                            @Html.ValidationMessageFor(m => m.Gender)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LinkdenLink, new { @class = "col-md-8 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "enter your Linkdln username or reseach gator link" })
                                @Html.ValidationMessageFor(m => m.LinkdenLink)
                            </div>
                        </div>


                        @*<label>First Name</label> <br />
                    <input type="text" name="FirstName" id="FirstName" class="form-control" placeholder="Enter First Name" required /> <br />*@

                        @*<label>Middle Name</label> <br />
                    <input type="text" name="SecondName" id="SecondName" class="form-control" placeholder="Enter Middle Name" required /> <br />

                    <label>Last Name</label> <br />
                    <input type="text" name="LastName" id="LastName" class="form-control" placeholder="Enter Last Name" required /> <br />*@


                        @*@Html.LabelFor(s => s.Departments)
                    @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.Departments, "Id", "DepartmentName"), "Select Department", new { @class = "form-control" })*@

                        @*<br />
                    <div>
                        <label>Male</label>   @Html.RadioButton("Gender", "Male")
                        <label>Female</label> @Html.RadioButton("Gender", "Female")
                    </div>
                    <br />*@




                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Nationality, new { @class = "col-md-4 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Nationality, new { @class = "form-control", placeholder = "eg. Ethiopian" })
                                @Html.ValidationMessageFor(m => m.Nationality)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Specialization, new { @class = "col-md-4 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Specialization, new { @class = "form-control", placeholder = "Enter Your Specialization" })
                                @Html.ValidationMessageFor(m => m.Specialization)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AcademicRank, new { @class = "col-md-4 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.AcademicRank, new { @class = "form-control", placeholder = "eg. Professor" })
                                @Html.ValidationMessageFor(m => m.AcademicRank)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, new { @class = "col-md-4 control-label" })
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Status, new { @class = "form-control", placeholder = "eg. Full time" })
                                @Html.ValidationMessageFor(m => m.Status)
                            </div>
                        </div>

                        <label>Staff Image</label> <br />

                        <input name="ProfileImage" id="ProfileImage" class="form-control-file " placeholder="Select Image" type="file" required /><br />

                        @Html.ValidationMessageFor(m => m.ProfileImage)

                        <br />

                    </div>


                </div>





                <label> Additional Responsibility </label>
                <br />
                <textarea name="AdditionalResponsibility" id="AdditionalResponsibility" class="form-control" placeholder="Additional Responsibility"></textarea>
                <br />

                <label>Personal Statement</label> <br />
                <textarea name="PersonalStatement" id="PersonalStatement" class="form-control" placeholder="Enter Your Personal Statement" required></textarea><br />
                <br />
                <label> Work History </label>
                <br />
                <textarea name="WorkHistory" id="WorkHistory" class="form-control" placeholder="Enter Your Work Experience"></textarea>
                <br />



                <br />
                <label>Educational Background</label>
                <br />
                <textarea name="EducationalBackground" class="ckeditor"></textarea><br />

                <br />

                <label>Contribution to Science</label>
                <br />
                <textarea name="ContributionToScienceAndResearch" class="ckeditor"></textarea><br />

                <br />






                <br />
                <div class="">
                    <button class="btn btn-success btn-block" type="submit">Submit</button>
                </div>
                @*<label>Nationality</label> <br />
            <input name="Nationality" id="Nationality" class="form-control" placeholder="Enter your Nationality" type="text" required /> <br />

            <label>Specialization</label> <br />
            <input name="Specialization" id="Specialization" class="form-control" placeholder="Enter your Specilization" type="text" required /> <br />

            <label>Academic Rank</label> <br />
            <input name="AcademicRank" id="AcademicRank" class="form-control" placeholder="Enter Your Academic Rank" type="text" required /> <br />

            <label>Status</label> <br />
            <input name="Status" id="Status" class="form-control" placeholder="Enter Your Status" type="text" required /> <br />*@




                @*<div class="form-group">
                @Html.LabelFor(m => m.AdditionalResponsibility, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.AdditionalResponsibility, new { @class = "form-control col-md-10 ", placeholder = "Additional Responsibility" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PersonalStatement, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.PersonalStatement, new { @class = "form-control col-md-10 ", placeholder = "Personal statement" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.WorkHistory, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.WorkHistory, new { @class = "form-control col-md-10 ", placeholder = "your experience" })
                </div>*@



            </form>

        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
</div>



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function sendData(formData) {
            var ajaxConfig = {
                type: "post",
                url: "/StaffProfile/Create",
                data: new FormData(formData),
                success: function (result) {

                    console.log(result);

                },
                fail: function (result) {
                    console.log(result);
                }
            }


            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }
            $.ajax(ajaxConfig);
            return false;
        }

    </script>

}



@* @using(@Html.BeginForm("Create","StaffProfile",FormMethod.Post , new { enctype = "multipart/form-data",onSubmit="return sendData(this);"})){

            @Html.LabelFor( s => s.FirstName)
            @Html.TextBoxFor(s=>s.FirstName, new { @class="form-control",placeholder="Enter First Name"})
            @Html.LabelFor(s=>s.SecondName)
            @Html.TextBoxFor(s=>s.SecondName,new { @class = "form-control",placeholder="Enter Second Name" })

            @Html.LabelFor(s =>s.LastName)
            @Html.TextBoxFor(s => s.LastName,new { @class="form-control" ,placeholder="Enter Last Name" })


            @Html.LabelFor(s => s.DepartmentImage)
            @Html.TextBoxFor(s => s.DepartmentImage,new { @class="form-control ",type="file",id="DepartmentImage"})
         <br />
      <button class="btn btn-danger" > Submit</button >




    } *@