@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_DepartmentOnly.cshtml";
}

<div>
    <div class="contra container">
        <div class="sub-header">
            <h3 style="color:#fff; text-align:left;">Department of Biochemistry</h3>
        </div>
        <div class="cover">
            <div class="sidebar">
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Home", "Home", "Biochemistry")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("About", "About", "Biochemistry")
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("History", "History", "Biochemistry")

                            </li>
                        </ul>
                    </div>
                </div>


                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Staff", "staff", "Biochemistry")
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="side-head">
                    <div>
                        <ul>
                            <li>
                                @Html.ActionLink("Contact Us", "contact", "Biochemistry")

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Head of the Department</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>
                <div class="chair-alafi">

                    <div class="imgery">
                        <h2 style="text-align:center;padding-top:10px;">Chief Resident</h2>
                        <img src="~/images/img/slide3.jpg" />
                    </div>
                    <div class="explains">
                        <h3>Dr. RXjxv martinozole</h3>
                        <a href="#">LearnMore</a>
                    </div>

                </div>


            </div>

            <div class="bodypart">
                <div>
                    <div class="breadcumps">

                    </div>

                    <div class="body-head">
                        <h2>About Biochemistry</h2>

                        <div class="body-body">
                            <p>
                                Currently, the department is actively engaged in teaching medical undergraduates and also biochemistry postgraduate students.
                                The department is currently run by more than 15 staff members. Additionally, the research studies carried out in the department are shown
                                to address a number of health related studies, and to date more than 80 MSc research projects and 2 PhD studies have been conducted successfully.
                                The theses projects performed have shown to focus on various fields including, diabetes mellitus, hypertension, biochemical effects of
                                traditional plants, cancer and etc. In regard to publication, more than 100 papers focused on different studies have been able to be
                                published in reputable journals and a number of these studies have been also presented at various conferences.
                                The department is now training more than 15 PhD students where a number of them are at the final stages of completion.
                            </p>



                            <p>
                                Furthermore through various collaboration works with universities in Europe and America, a number of projects have been able to be created.
                                The department is located in two buildings, one in the new CHS building and the other in the old building of TASH.

                            </p>
                        </div>
                    </div>

                    <br />

                    <div class="body-head">
                        <h2>Mission Statement</h2>
                    </div>
                    <div class="body-body">

                        <ul class="vision_stm">
                            <li>
                                To teach and undertake research at advanced level and transfer knowledge and skill to potential individuals
                            </li>
                            <li>
                                To prepare future academicians for leadership, teaching and research positions in various positions
                            </li>
                            <li>
                                To provide a plausible learning platform for students and equip them with exceptional analytical and integrative skills to be competitive
                            </li>
                            <li>
                                To be a center of excellence in teaching and researches
                            </li>
                            <li>
                                To expand its collaborations with national and international institutes to enrich the
                                departments teaching and research activities as well as to address the community needs
                            </li>
                        </ul>



                    </div>

                    <div class="vision">
                        <h3 style="text-align:center;">Vision Statement</h3>
                        <div class="body-body" style="margin-top:-40px;">
                            <ul class="vision_stm">
                                <li>
                                    To produce high caliber trained professionals
                                </li>
                                <li>
                                    To expand its training in Clinical Biochemistry residence and integrated clinical chemistry and human genetics program
                                </li>

                            </ul>


                        </div>
                    </div>


                    <div class="row">
                        <h2>Events</h2>

                        <div class="body-body">
                            <h4>Annual Lunch</h4>
                            <p>
                                The mandate of the Biochemistry and Molecular Biology department is to
                                further basic science knowledge that is relevant to public health and to
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>



                            <p>
                                Description and list of events
                                the core mission of our home, the Johns Hopkins Bloomberg School of Public
                                Health (JHSPH). In keeping with the inspiring motto of JHSPH, we seek knowledge
                                at the
                                cellular and molecular level that can "save lives, millions at a time."
                            </p>
                        </div>


                    </div>


                </div>
            </div>

        </div>


    </div>





</div>


